#
# /etc/myenv/variables.conf
#

#
# Some examples: %MYENV_BASEDIR%, %INSTANCEDIR%, %DATADIR%, %MYSQL_BASEDIR%, %INSTANCE_NAME%
#

export MYSQL_PS1='\u@%INSTANCE_NAME% [\d] SQL> '
export MYENV_DATABASE=%INSTANCE_NAME%
export MYENV_DATADIR=%DATADIR%
export MYSQL_HOME=%DATADIR%
# no good idea, breaks commands like cd log or cd etc
# export CDPATH="%INSTANCEDIR%"

#
# Add your own variables here: /etc/myenv/my_variables.conf
#
